<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>History</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding="">
  <img src="../../assets/img/fgc.jpeg" height="110" style="display: block;margin: auto" alt="">
<p padding="" style="text-align: justify;font-size: 15px">
  About 25 members of the <i>“Thursday Prayer Fellowship”</i> (which was an Inter - denominational revival group, in existence since 1974) decided on 12th May 1989 to form a Pentecostal congregation according to the leading of the Holy Spirit. This congregation was later named as <b>"Full Gospel Church, Kuwait"</b>.
  <br><br>

  The first gathering took place at Pastor Mammen Abraham's house in Hasawi and weekly meetings were later moved to the National Evangelical Church of Kuwait (NECK).
  <br><br>
  Pastor P. J. Samuel (Sam Uncle) ministered from 1989 till March 2016 followed by Pastor Koshy  K. Mathew from 2016 till 2019. Pastor Moncy P. Mathew is the present Minister In-Charge.
  <br><br>

  The congregation is now under the Indian Pentecostal Church of God denomination in India. It has its headquarters in Kumbanad, Kerala, and is currently the largest Pentecostal church network in India.

  <br><br>

  The following persons have helped us in the past in the growth of the Church, eventually left kuwait to continue with the calling for Lord's Ministry  in India:

  <br>
</p>
  <ul>
  <li>Pastor K.C Abraham - an associate pastor, secretary, now serving as an associate pastor at IPC prayer center Thiruvalla, Kerala.</li>
  <li>Pastor T.E. Varghese - as associate pastor, now working as IPC district pastor, Chathanoor, Kerala.</li>
  <li>Pastor Mammen Abraham - as an associate pastor, secretary & treasurer,
    now working as a pastor with Church of God.</li>
    <li>Pastor P. K. Jacob - as an active member, now working as a pastor at IPC Changanacherry, Kerala.</li>
</ul>
 <p padding="" style="text-align: justify;font-size: 15px"> We have also had the following brothers who served as secretaries and treasurers, namely:</p>
  <ul>
    <li>Br. Rajan C. Koshy </li>
    <li>Br. P.T. Philip </li>
    <li>Br. Reji T. Zachariah</li>
    <li>Pr. Mammen Abraham </li>
    <li>Pr. T. E. Varghese</li>
    <li>Br. Isaac Abraham</li>
    <li>Br. Jacob Varghese</li>
    <li>Br. George Cherian</li>
<!--    <li>Br. Abraham Varkey</li>-->
    <li>Br. Simon Abraham</li>
    <li>Br. Finny Thomas </li>
  </ul>
  <p padding="" style="text-align: center;font-size: 15px">
    <b>“So then neither he who plants is anything, nor he who waters, but God who gives the increase”</b>
    ( 1 Corinthians 3: 7, NKJV)
  </p>
</ion-content>
