<!--&lt;!&ndash; <ion-header>-->
  <!--<ion-toolbar>-->
    <!--<ion-title>home</ion-title>-->
  <!--</ion-toolbar>-->
<!--</ion-header>-->

<!--<ion-content>-->

<!--</ion-content> &ndash;&gt;-->
<!--<ion-header>-->
  <!--<ion-toolbar color="primary">-->
    <!--<ion-buttons slot="start">-->
      <!--<ion-menu-button></ion-menu-button>-->
    <!--</ion-buttons>-->
    <!--<ion-title>-->
      <!--Home-->
    <!--</ion-title>-->
  <!--</ion-toolbar>-->
<!--</ion-header>-->

<!--<ion-content padding="" text-center="">-->
  <!--<div style="margin-top: 130px">-->
    <!--<ion-grid>-->
      <!--<ion-row>-->
        <!--<ion-col size="12" routerLink="/fgchistory" class="fcs">-->
          <!--<ion-icon name="book" iconst></ion-icon><br>-->
          <!--<b style="font-size: 13px;font-weight: bolder">CHURCH HISTORY</b>-->
        <!--</ion-col>-->
        <!--<ion-col size="12" routerLink="/members" class="fcs">-->
          <!--<ion-icon name="people" iconst></ion-icon><br>-->
          <!--<b style="font-size: 13px">LEADERSHIP</b>-->
        <!--</ion-col>-->
      <!--</ion-row>-->
    <!--</ion-grid>-->
  <!--</div>-->
<!--</ion-content>-->
<!-- <ion-header>
  <ion-toolbar>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content> -->
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content text-center="">
  <ion-card style="height: 52vw">
    <img src="../../assets/img/his.jpg" alt="" style="display: inline">
    <button class="btn btn-dark" routerLink="/fgchistory" style="margin-top: -100px;background-color: #1d2124">Church History</button>
  </ion-card>
</ion-content>

