[st]{
  background-color: #026350;
  bottom: 0px;display: block;position: fixed;
  border: none;
  padding: 13px;
  z-index: 123;
}
.autocomplete-container .suggestions-container ul li a {
  padding: 6px 15px !important;
}
