a, a:hover, a:active, a:visited, a:focus {
  text-decoration:none;
}
#post{
  width: 100%;
  padding-top: 10px;
  padding-left: 15px;
  font-size: 17px;
}

#posts{
  width: 100%;
  padding-top: 10px;
  padding-left: 15px;
  font-size: 17px;
}