<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Video</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--<div *ngIf="videoarr?.length <= 1" id="post">Total Video : {{videoarr?.length}}</div>-->
  <!--<div *ngIf="videoarr?.length >= 1" id="posts">Total Video's : {{videoarr?.length}}</div>-->



  <ion-card *ngFor="let v of videoarr" href="{{v.videoUrl}}">
    <div class="container">
      <br>
      <div class="row">
        <div class="col-12">
          <div class="product-grid">
            <div class="product-image">
              <img [src]="url+v.imageUrl" alt="">
            </div>
            <div class="product-content">

<!--              <h3 class="title" style="margin-top: 10px;text-align: center">{{blog.title}}</h3>-->
              <div class="price">
<!--                <p style="text-align: center">{{blog.createdAt | date: 'dd-MM-yyyy'}}</p>-->
                <p> {{v?.description.substr(0,20)}}</p>
              </div>
              <br>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="price" style="padding: 0px 50px">
      <!--        {{i.description}}-->
    </div>
    <!--    <img [src]="url+'/'+blog?.imageUrl" alt="" style="width: 100%;height:200px">-->
    <!--    <ion-card-content>-->
    <!--      <p>{{blog.createdAt | date: 'dd/MM/yyyy'}}</p>-->
    <!--      <h2><b>{{blog.title}}</b></h2>-->
    <!--      <p>{{blog.description.substr(0,200)}}</p>-->
    <!--    </ion-card-content>-->
  </ion-card>










<!--  <a *ngFor="let v of videoarr" href="{{v.videoUrl}}">-->
<!--    <ion-card>-->
<!--      <ion-card-header style="padding: 0px;">-->
<!--        <img [src]="url+v.imageUrl" alt="" style="width: 100%;height:200px">-->
<!--      </ion-card-header>-->
<!--      <ion-card-content>-->
<!--        {{v?.description.substr(0,20)}}-->
<!--      </ion-card-content>-->
<!--    </ion-card>-->
<!--  </a>-->

  <div style="width: 100%; text-align: center; margin-top: 220px;" *ngIf="videoarr?.length <= 0">
    <h5>Empty</h5>
  </div>


</ion-content>
