<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <!--<ion-menu-button></ion-menu-button>-->
    </ion-buttons>
    <ion-title>Update Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding="">
  <br>
  <img src="../../assets/img/fgc.jpeg" alt="" height="130" style="display: block;margin: auto">
  <br><br>
 <div padding="">
   <div padding="">
     <div class="form-label-group cus">
    <span style="position: absolute;margin-top: 9px;margin-left: 15px">
      <ion-icon name="lock" style="color:#026350;font-size: 25px"></ion-icon>
    </span>
       <input type="password" id="inpu" class="form-control customc"
              [(ngModel)]="resetpassword.oldPassword" placeholder="Old Password" required name="em">
     </div>

     <div class="form-label-group cus">
    <span style="position: absolute;margin-top: 9px;margin-left: 15px">
      <ion-icon name="lock" style="color:#026350;font-size: 25px"></ion-icon>
    </span>
       <input type="password" id="inputPassword" class="form-control customc"
              [(ngModel)]="resetpassword.newPassword" placeholder="New Password" required
              name="pass">
     </div>

     <button class="btn btn-lg btn-primary btn-block   fcs" (click)="password()"
             style="background-color: #026350;font-size:15px;border-radius: 50px;padding: 13px"
             type="submit">Change Password</button>
   </div>
 </div>


</ion-content>
