<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Audio & Video Gallery</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding="">
  <br><br>
  <img src="../../assets/img/fgck-logo.png" alt="" height="150" style="display: block;margin: auto">
<!--<ion-card text-center="" routerLink="/audio">-->
<!--  <img src="../../assets/img/audioi.png" height="200" alt="">-->
<!--</ion-card>-->
<!--  <ion-card text-center="" routerLink="/audio">-->
<!--    <img src="../../assets/img/videoi.jpg" height="200" alt="">-->
<!--</ion-card>-->
  <br><br>
  <div padding="">
 <div padding="">
   <div style="margin-top: 5px;margin-bottom: 10px">
     <button class="btn btn-primary btn-block" setting type="submit" routerLink="/audio">Audio Gallery </button>
   </div>

   <div style="margin-top: 5px">
     <button class="btn btn-primary btn-block" setting type="submit" routerLink="/video">Video Gallery </button>
   </div>
 </div>
  </div>
</ion-content>
