<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
    </ion-buttons>
    <ion-title>Forgot Password</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="bc-img">
  <br>
  <br>
  <div padding="">
  <div padding="">
    <img src="../../assets/img/fgck-logo.png" alt="" height="130" style="display: block;margin: auto">
    <br><br>
    <div class="form-label-group cus">
    <span style="position: absolute;margin-top: 9px;margin-left: 15px">
      <ion-icon name="person" style="color:#026350;font-size: 25px"></ion-icon>
    </span>
      <input type="email" id="inpu" class="form-control customc" [(ngModel)]="data.email" placeholder="Enter your Email" required name="em">
    </div>

    <button class="btn btn-lg btn-primary btn-block fcs" style="background-color: #026350;
   border-radius: 50px;padding: 13px !important;font-size: 16px !important;" type="submit" (click)="forgotpass()">SUBMIT</button>
  </div>
  </div>
</ion-content>
