<ion-content class="bc-img">
  <div></div>
  <br><br><br>
  <br><br>
  <div class="container" padding="">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <img src="../../assets/img/fgck-logo.png" alt="" height="150" style="display: block;margin: auto;margin-top: -50px">
        <div>
          <br>
          <div padding="">
            <form class="form-signin">
              <div class="form-label-group cus">
                <span style="position: absolute;margin-top: 9px;margin-left: 15px">
                  <ion-icon name="person" style="color:#026350;font-size: 25px"></ion-icon>
                </span>
                <input type="text" id="inpu" class="form-control customc" placeholder="Name" [(ngModel)]="data.name" required name="em">
              </div>
              <div class="form-label-group cus">
                <span style="position: absolute;margin-top: 9px;margin-left: 15px">
                  <ion-icon name="mail" style="color:#026350;font-size: 25px"></ion-icon>
                </span>
                <input type="email" id="inputPassword" class="form-control customc" placeholder="Email" [(ngModel)]="data.email"  required  name="pass">
              </div>



              <div class="form-label-group cus">
                <span style="position: absolute;margin-top: 9px;margin-left: 15px">
                  <ion-icon name="lock" style="color:#026350;font-size: 25px"></ion-icon>
                </span>
                <input type="password" id="inpumail" class="form-control customc" placeholder="Password"  [(ngModel)]="data.password" required name="em">
              </div>



              <div class="form-label-group cus">
                <span style="position: absolute;margin-top: 9px;margin-left: 15px">
                  <ion-icon name="call" style="color:#026350;font-size: 25px"></ion-icon>
                </span>
                <input type="number" id="inputEmail" class="form-control customc" placeholder="Phone"  [(ngModel)]="data.phno" required name="em">
              </div>



              <button class="btn btn-lg btn-primary btn-block text-uppercase fcs" style="background-color: #026350;padding: 13px !important;" type="submit" (click)="submit()">SIGNUP</button>
            </form>
            <p style="margin-top: 10px;text-align: center" routerLink="/login" style="outline: none;text-align: center;
            margin: 10px 0px 0px 0px;color: white"> <b>Back</b> </p>

          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
