<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>IPC Full Gospel Church</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding="">
<h5 text-center=""><b>Contact Us</b></h5>

  <ion-grid>
    <ion-row>
      <ion-col size="2">
        <ion-icon name="contact" color="primary" style="font-size: 30px"></ion-icon>
      </ion-col>
      <ion-col size="10" style="margin-top: 3px"><b>Mobile Numbers</b></ion-col>
      <ion-col size="12">
        Pastor (R) :
        <a href="tel:+965-25610455 "> +965-25610455 </a>
      </ion-col>
      <ion-col size="12">
        Pastor (M) :
        <a href="tel:+965-69619005 "> +965-69619005 </a>
      </ion-col>
      <ion-col size="12">
        Secretary (M) :
        <a href="tel:+965-66880338 "> +965-66880338 </a>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <hr style="width: 100%">
      <ion-col size="2">
        <ion-icon name="mail" color="primary" style="font-size: 30px"></ion-icon>
      </ion-col>
      <ion-col size="10" style="margin-top: 3px">
        <b>Email Address</b>
      </ion-col>
      <ion-col size="12">
<!--        <a href="info@ipckuwait.com "> info@ipckuwait.com </a>-->
        Info@ipcfgck.com
      </ion-col>
      <hr style="width: 100%">
    </ion-row>
  </ion-grid>
</ion-content>
