<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Council Members</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="container">
    <br>
    <div class="row">
      <div class="col-8 offset-2">
        <div class="product-grid">
          <div class="product-image">
              <img class="pic-1" src="../../assets/img/paster.png">
          </div>
          <div class="product-content">
            <div class="price">
              Pastor Moncy P. Mathew
            </div>
            <h3 class="title">Minister In-Charge</h3>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <br>
    <div class="row">
      <div class="col-6 col-sm-6">
        <div class="product-grid">
          <div class="product-image">
            <img class="pic-1" src="../../assets/img/rj.png">
          </div>
          <div class="product-content">
            <div class="price">
              Rajesh Pothen Varghese
            </div>
            <h3 class="title">Secretary</h3>
            <br>
          </div>
        </div>
      </div>

      <div class="col-6 col-sm-6">
        <div class="product-grid">
          <div class="product-image">
            <img class="pic-1" src="../../assets/img/sunil.png">
          </div>
          <div class="product-content">
            <div class="price">
              Mathew Cherian (Sunil)
            </div>
            <h3 class="title">Jt. Secretary</h3>
            <br>
          </div>
        </div>
      </div>


      <div class="col-6 col-sm-6">
        <div class="product-grid">
          <div class="product-image">
            <img class="pic-1" src="../../assets/img/ds.png">
          </div>
          <div class="product-content">
            <div class="price">
              John Philip (Saji)
            </div>
            <h3 class="title">Treasurer </h3>
            <br>
          </div>
        </div>
      </div>


      <div class="col-6 col-sm-6">
        <div class="product-grid">
          <div class="product-image">
            <img class="pic-1" src="../../assets/img/bulb.png">
          </div>
          <div class="product-content">
            <div class="price">
              Gigi Philip
            </div>
            <h3 class="title">Jt. Treasurer </h3>
            <br>
          </div>
        </div>
      </div>

      <div class="col-6 col-sm-6">
        <div class="product-grid">
          <div class="product-image">
            <img class="pic-1" src="../../assets/img/kj.png">
          </div>
          <div class="product-content">
            <div class="price">
              K. George Abraham (Binoy)
            </div>
            <h3 class="title">Sunday School Headmaster</h3>
            <br>
          </div>
        </div>
      </div>

      <div class="col-6 col-sm-6">
        <div class="product-grid">
          <div class="product-image">
            <img class="pic-1" src="../../assets/img/biju.png">
          </div>
          <div class="product-content">
            <div class="price">
              Biju T. Punnoose
            </div>
            <h3 class="title">PYPA Secretary</h3>
            <br>
          </div>
        </div>
      </div>

      <div class="col-6 col-sm-6">
        <div class="product-grid">
          <div class="product-image">
            <img class="pic-1" src="../../assets/img/cell.png">
          </div>
          <div class="product-content">
            <div class="price">
              Regi T. Zachariah
            </div>
            <h3 class="title">Cell Leaders Coordinator</h3>
            <br>
          </div>
        </div>
      </div>



      <div class="col-6 col-sm-6">
        <div class="product-grid">
          <div class="product-image">
            <img class="pic-1" src="../../assets/img/geo.png">
          </div>
          <div class="product-content">
            <div class="price">
              George Cherian
            </div>
            <h3 class="title">Council Member</h3>
            <br>
          </div>
        </div>
      </div>

      <div class="col-6 col-sm-6">
        <div class="product-grid">
          <div class="product-image">
            <img class="pic-1" src="../../assets/img/sai.png">
          </div>
          <div class="product-content">
            <div class="price">
              Simon Abraham (Achenkunju)
            </div>
            <h3 class="title">Council Member </h3>
            <br>
          </div>
        </div>
      </div>

      <div class="col-6 col-sm-6">
        <div class="product-grid">
          <div class="product-image">
            <img class="pic-1" src="../../assets/img/sony.png">
          </div>
          <div class="product-content">
            <div class="price">
              Chacko Varghese
            </div>
            <h3 class="title">Council Member</h3>
            <br>
          </div>
        </div>
      </div>

      <div class="col-6 col-sm-6">
        <div class="product-grid">
          <div class="product-image">
            <img class="pic-1" src="../../assets/img/abraham.png">
          </div>
          <div class="product-content">
            <div class="price">
              Abraham Varkey
            </div>
            <h3 class="title">Council Member</h3>
            <br>
          </div>
        </div>
      </div>

      <div class="col-6 col-sm-6">
        <div class="product-grid">
          <div class="product-image">
            <img class="pic-1" src="../../assets/img/rajan.png">
          </div>
          <div class="product-content">
            <div class="price">
              Rajan Koshy Zachariah
            </div>
            <h3 class="title">Council Member</h3>
            <br>
          </div>
        </div>
      </div>

      <div class="col-6 col-sm-6">
        <div class="product-grid">
          <div class="product-image">
            <img class="pic-1" src="../../assets/img/l.png">
          </div>
          <div class="product-content">
            <div class="price">
              Alexander T. Zachariah
            </div>
            <h3 class="title">Council Member</h3>
            <br>
          </div>
        </div>
      </div>

      <div class="col-6 col-sm-6">
        <div class="product-grid">
          <div class="product-image">
            <img class="pic-1" src="../../assets/img/bobby.png">
          </div>
          <div class="product-content">
            <div class="price">
              Bobby Mathew
            </div>
            <h3 class="title">Council Member</h3>
            <br>
          </div>
        </div>
      </div>

      <div class="col-6 col-sm-6">
        <div class="product-grid">
          <div class="product-image">
            <img class="pic-1" src="../../assets/img/finny.png">
          </div>
          <div class="product-content">
            <div class="price">
              Finny Thomas
            </div>
            <h3 class="title">Council Member</h3>
            <br>
          </div>
        </div>
      </div>

      <div class="col-6 col-sm-6">
        <div class="product-grid">
          <div class="product-image">
            <img class="pic-1" src="../../assets/img/vn.png">
          </div>
          <div class="product-content">
            <div class="price">
              George Thomas (Vinod)
            </div>
            <h3 class="title">Council Member</h3>
            <br>
          </div>
        </div>
      </div>




    </div>
  </div>



<!--  <ion-grid style="padding: 0px">-->
<!--    <ion-row style="padding: 0px">-->
<!--      <ion-col size="6" style="padding: 3px">-->
<!--        <div>-->
<!--          <ion-card>-->
<!--            <div style="width: 100%;overflow: hidden;height: 40vw;">-->
<!--              <img src="../../assets/img/alex.jpeg" height="100%" width="100%" alt="">-->
<!--            </div>-->
<!--            <ion-card-content>-->
<!--              <p><b>Rajesh Pothen Varghese</b></p>-->
<!--              <p style="font-size: 13px">Secretary</p>-->
<!--            </ion-card-content>-->
<!--          </ion-card>-->
<!--        </div>-->
<!--      </ion-col>-->
<!--      <ion-col size="6" style="padding: 3px">-->
<!--        <div>-->
<!--          <ion-card>-->
<!--            <div style="width: 100%;overflow: hidden;height: 40vw;">-->
<!--              <img src="../../assets/img/bobby.jpeg" height="100%" width="100%" alt="">-->
<!--            </div>-->
<!--            <ion-card-content>-->
<!--              <p><b>Bobby Mathew</b></p>-->
<!--              <p style="font-size: 13px">Member</p>-->
<!--              <br>-->
<!--            </ion-card-content>-->
<!--          </ion-card>-->
<!--        </div>-->
<!--      </ion-col>-->
<!--    </ion-row>-->
<!--  </ion-grid>-->




  <!--<div style="padding: 5px;">-->
    <!--<ion-card>-->
      <!--<div style="width: 100%;overflow: hidden;height: 70vw;">-->
        <!--<img src="../../assets/img/alex.jpeg" height="100%" width="100%" alt="">-->
      <!--</div>-->
      <!--<ion-card-content>-->
        <!--<p><b>Rajesh Pothen Varghese</b></p>-->
        <!--<p style="font-size: 13px">Secretary</p>-->
      <!--</ion-card-content>-->
    <!--</ion-card>-->
  <!--</div>-->
<!--<div text-center="">-->
  <!--<img src="../../assets/img/secretary%20-%20rajesh.jpeg" height="120" width="120" alt="" img>-->
  <!--<p><b>Rajesh Pothen Varghese</b></p>-->
  <!--<p style="font-size: 13px">Secretary</p>-->
  <!--<hr>-->
<!--</div>-->

  <!--<ion-grid>-->
    <!--<ion-row>-->
      <!--<ion-col size="6">-->
        <!--<div text-center="">-->
          <!--<img src="../../assets/img/bobby.jpeg" height="120" width="120" alt="" img>-->
          <!--<p style="margin-top: 5px;margin-bottom: 0px"><b>John Philip</b></p>-->
          <!--<p style="font-size: 13px">Treasurer</p>-->
          <!--<hr>-->
        <!--</div>-->
      <!--</ion-col>-->

      <!--<ion-col size="6">-->
        <!--<div text-center="">-->
          <!--<img src="../../assets/img/bobby.jpeg" height="120" width="120" alt="" img>-->
          <!--<p style="margin-top: 5px;margin-bottom: 0px"><b>Mathew Cherian (Sunil)</b></p>-->
          <!--<p style="font-size: 13px">Joint Secretary</p>-->
          <!--<hr>-->
        <!--</div>-->
      <!--</ion-col>-->

      <!--<ion-col size="6">-->
        <!--<div text-center="">-->
          <!--<img src="../../assets/img/bobby.jpeg" height="120" width="120" alt="" img>-->
          <!--<p style="margin-top: 5px;margin-bottom: 0px"><b>Gigi Philip</b></p>-->
          <!--<p style="font-size: 13px">Joint Treasurer</p>-->
          <!--<hr>-->
        <!--</div>-->
      <!--</ion-col>-->

      <!--<ion-col size="6">-->
        <!--<div text-center="">-->
          <!--<img src="../../assets/img/bobby.jpeg" height="120" width="120" alt="" img>-->
          <!--<p style="margin-top: 5px;margin-bottom: 0px"><b>Rajan Koshy Zachariah</b></p>-->
          <!--<p style="font-size: 13px">Member</p>-->
          <!--<hr>-->
        <!--</div>-->
      <!--</ion-col>-->

      <!--<ion-col size="6">-->
        <!--<div text-center="">-->
          <!--<img src="../../assets/img/bobby.jpeg" height="120" width="120" alt="" img>-->
          <!--<p style="margin-top: 5px;margin-bottom: 0px"><b>Abraham Varkey</b></p>-->
          <!--<p style="font-size: 13px">Member</p>-->
          <!--<hr>-->
        <!--</div>-->
      <!--</ion-col>-->

      <!--<ion-col size="6">-->
        <!--<div text-center="">-->
          <!--<img src="../../assets/img/bobby.jpeg" height="120" width="120" alt="" img>-->
          <!--<p style="margin-top: 5px;margin-bottom: 0px"><b>Chacko Varghese</b></p>-->
          <!--<p style="font-size: 13px">Member</p>-->
          <!--<hr>-->
        <!--</div>-->
      <!--</ion-col>-->

      <!--<ion-col size="6">-->
        <!--<div text-center="">-->
          <!--<img src="../../assets/img/bobby.jpeg" height="120" width="120" alt="" img>-->
          <!--<p style="margin-top: 5px;margin-bottom: 0px"><b>George Cherian (Sunny)</b></p>-->
          <!--<p style="font-size: 13px">Member</p>-->
          <!--<hr>-->
        <!--</div>-->
      <!--</ion-col>-->

      <!--<ion-col size="6">-->
        <!--<div text-center="">-->
          <!--<img src="../../assets/img/bobby.jpeg" height="120" width="120" alt="" img>-->
          <!--<p style="margin-top: 5px;margin-bottom: 0px"><b>Simon Abraham (Achenkunju)</b></p>-->
          <!--<p style="font-size: 13px">Member</p>-->
          <!--<hr>-->
        <!--</div>-->
      <!--</ion-col>-->

      <!--<ion-col size="6">-->
        <!--<div text-center="">-->
          <!--<img src="../../assets/img/alex.jpeg" height="120" width="120" alt="" img>-->
          <!--<p style="margin-top: 5px;margin-bottom: 0px"><b>Alexander T. Zachariah</b></p>-->
          <!--<p style="font-size: 13px">Member</p>-->
          <!--<hr>-->
        <!--</div>-->
      <!--</ion-col>-->

      <!--<ion-col size="6">-->
        <!--<div text-center="">-->
          <!--<img src="../../assets/img/raji%20tz.jpeg" height="120" width="120" alt="" img>-->
          <!--<p style="margin-top: 5px;margin-bottom: 0px"><b>Reji T. Zachariah</b></p>-->
          <!--<p style="font-size: 13px">Cell Group Prayer Coordinator</p>-->
          <!--<hr>-->
        <!--</div>-->
      <!--</ion-col>-->

      <!--<ion-col size="6">-->
        <!--<div text-center="">-->
          <!--<img src="../../assets/img/bobby.jpeg" height="120" width="120" alt="" img>-->
          <!--<p style="margin-top: 5px;margin-bottom: 0px"><b>George Thomas (Vinod)</b></p>-->
          <!--<p style="font-size: 13px">Member</p>-->
          <!--<hr>-->
        <!--</div>-->
      <!--</ion-col>-->

      <!--<ion-col size="6">-->
        <!--<div text-center="">-->
          <!--<img src="../../assets/img/bobby.jpeg" height="120" width="120" alt="" img>-->
          <!--<p style="margin-top: 5px;margin-bottom: 0px"><b>George Abraham (Benoy)</b></p>-->
          <!--<p style="font-size: 13px">Sunday School Rep</p>-->
          <!--<hr>-->
        <!--</div>-->
      <!--</ion-col>-->

      <!--<ion-col size="6">-->
        <!--<div text-center="">-->
          <!--<img src="../../assets/img/bobby.jpeg" height="120" width="120" alt="" img>-->
          <!--<p style="margin-top: 5px;margin-bottom: 0px"><b>Finny Thomas</b></p>-->
          <!--<p style="font-size: 13px">Member</p>-->
          <!--<hr>-->
        <!--</div>-->
      <!--</ion-col>-->

      <!--<ion-col size="6">-->
        <!--<div text-center="">-->
          <!--<img src="../../assets/img/bobby.jpeg" height="120" width="120" alt="" img>-->
          <!--<p style="margin-top: 5px;margin-bottom: 0px"><b>Bobby Mathew</b></p>-->
          <!--<p style="font-size: 13px">Member</p>-->
          <!--<hr>-->
        <!--</div>-->
      <!--</ion-col>-->

    <!--</ion-row>-->
  <!--</ion-grid>-->
</ion-content>
