<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Search Result</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <div style="height: 50vw">
      <img src="../../assets/img/fm.jpg" alt="" height="100%" width="100%" style="display: block;margin: auto;border-radius: 5px">
    </div>
  </ion-card>
  <div text-center="" style="margin-bottom: 10px">
    <h4 mg>Abraham Joseph</h4>
    <p mg>01-Mar</p>
    <p mg><b>Aniversary : </b> 05-Jul</p>
  </div>
  <div>
    <div style="margin-left: 5%">
      <img src="../../assets/img/contact.jpg" style="border-radius: 50px;height: 40px;width: 40px" alt="">
      <span style="margin-left: 10px"><b>Contact Numbers</b></span>
      <p style="margin-bottom: 0px;margin-left: 3px;margin-top: 5px">
        <b>land-line</b> : +298374289374
      </p>
      <p style="margin-bottom: 0px;margin-left: 3px">
        <b>Office</b> : +298374289374
      </p>
      <p style="margin-bottom: 0px;margin-left: 3px">
        <b>Home</b> : +298374289374
      </p>
    </div>
    <div style="padding: 0px 15px 0px 15px">
      <hr>
    </div>

    <div style="margin-left: 5%">
      <img src="../../assets/img/email2.png" style="border-radius: 50px;height: 40px;width: 40px" alt="">
      <span style="margin-left: 10px"><b>Email</b></span>
      <p style="margin-bottom: 0px;margin-left: 3px;margin-top: 5px">
        zohaib201@gmail.com
      </p>
    </div>

    <div style="padding: 0px 15px 0px 15px">
      <hr>
    </div>


    <div style="margin-left: 5%">
      <img src="../../assets/img/sp.png" style="border-radius: 40px;height: 40px;width: 50px" alt="">
      <span style="margin-left: 10px"><b>Spouse</b></span>
      <p style="margin-bottom: 0px;margin-left: 3px;margin-top: 5px">
        Anthony Firnandez (19-Jul)
      </p>
    </div>

    <div style="padding: 0px 15px 0px 15px">
      <hr>
    </div>

    <div style="margin-left: 5%">
      <img src="../../assets/img/chlild.png" style="border-radius: 50px;height: 40px;width: 40px" alt="">
      <span style="margin-left: 10px"><b>Children and Dependents</b></span>
      <p style="margin-bottom: 0px;margin-left: 3px;margin-top: 5px">
        fakhar habib (12-Nov)
      </p>
      <p style="margin-bottom: 0px;margin-left: 3px">
        Shankar Rownay (12-Nov)
      </p>
    </div>

    <div style="padding: 0px 15px 0px 15px">
      <hr>
    </div>

    <div style="margin-left: 5%">
      <img src="../../assets/img/address.png" style="border-radius: 50px;height: 40px;width: 40px" alt="">
      <span style="margin-left: 10px"><b>Address in Kuwait</b></span>
      <p style="margin-bottom: 0px;margin-left: 3px;margin-top: 5px">
        house no 201 street 10 main road fsd.
      </p>
    </div>

    <div style="padding: 0px 15px 0px 15px">
      <hr>
    </div>
  </div>

</ion-content>
